:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accept-color: #2196f3;
  --primery-bg-color: #ffffff;
  --accept-bg-color: #2f303a;
}

.page {
  background-color: var (--primery-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* site-nav */

.logo-accept {
  color: var(--accept-color);
}

.logo {
  color: var(--primery-text-color);
}

.logo-text {
  font-family: Raleway;
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--primery-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accept-color);
}

.contact-nav .link {
  color: var(--title-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accept-color);
}

/* Hero */

.hero {
  background-color: var(--accept-bg-color);
}

.hero-title {
  color: var(--primery-bg-color);
}

/* Section */
.section-title {
  color: var(--primery-text-color);
}

/* Features */

.feature-list .title {
  color: var(--primery-text-color);
}

.button {
  color: #ffffff;
  background-color: var(--accept-color);
}

.text {
  color: var(--title-text-color);
}

.portfolio-nav .button {
  background-color: #f5f4fa;
  color: var(--primery-text-color);
  border-radius: 4px;
}

.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
  color: var(--primery-bg-color);
  background-color: var(--accept-color);
}

.portfolio-box {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  height: 404px;
}

.portfolio-title {
  color: var(--primery-text-color);
}

.footer {
  background-color: var(--accept-bg-color);
}

.logo-whait {
  color: var(--primery-bg-color);
}

.address {
  color: var(--primery-bg-color);
}
/* цвет основного текста #212121;
 */

/* вторичный цвет текста #757575;
 */

/* белый #ffffff */

/* цветовой акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */
