:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accept-color: #2196f3;
  --primery-bg-color: #ffffff;
  --accept-bg-color: #2f303a;
}

.page {
  background-color: var (--primery-bg-color);
  font-family: Roboto, sans-serif;
}

/* site-nav */

.logo-accept {
  color: var(--accept-color);
}

.logo {
  color: var(--primery-text-color);
}

.logo-text {
  font-family: Raleway;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1, 19;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.site-nav .link {
  color: var(--primery-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accept-color);
}

.contact-nav .link {
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accept-color);
}

/* Hero */

.hero {
  background-color: var(--accept-bg-color);
  text-transform: uppercase;
}

.hero-title {
  color: var(--primery-bg-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
}

/* Section */
.section-title {
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
}

/* Features */

.feature-list .title {
  color: var(--primery-text-color);
}

.button {
  color: #ffffff;
  background-color: var(--accept-color);
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1, 87;
  text-align: center;
  font-weight: bold;
}

.title {
  letter-spacing: 0.03em;
}

.text {
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.portfolio-nav .button {
  background-color: #f5f4fa;
  color: var(--primery-text-color);
  border-radius: 4px;
}

.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
  color: var(--primery-bg-color);
  background-color: var(--accept-color);
}

.portfolio-box {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  height: 404px;
}

.portfolio-title {
  color: var(--primery-text-color);
}

.footer {
  background-color: var(--accept-bg-color);
}

.logo-whait {
  color: var(--primery-bg-color);
  letter-spacing: 0.03em;
}

.address {
  color: var(--primery-bg-color);
  font-style: normal;
}
/* цвет основного текста #212121;
 */

/* вторичный цвет текста #757575;
 */

/* белый #ffffff */

/* цветовой акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */
